@using Tarea_1.Models.ViewModels
@model SoftwareViewModel

<h1>Crear software</h1>

	

<div class="row">
	<div class="col-md-4">
		<form asp-action = "Create"> 
			<div asp-validation-summary="ModelOnly" class = "text-danger"></div>

			<div class="form-group">
				<label asp-for="CodigoSoftware" class= "control-label"> </label>
				<input asp-for="CodigoSoftware" class= "form-control"/> 
				<span asp-validation-for="CodigoSoftware" class = "text-danger"> </span>
			</div>
			<div class="form-group">
				<label asp-for="NumeroPatente" class= "control-label"> </label>
				<input asp-for="NumeroPatente" class= "form-control"/> 
				<span asp-validation-for="NumeroPatente" class = "text-danger"> </span>
			</div>
			<div class="form-group">
				<label asp-for="Nombre" class= "control-label"> </label>
				<input asp-for="Nombre" class= "form-control"/> 
				<span asp-validation-for="Nombre" class = "text-danger"> </span>
			</div>
			<div class="form-group">
				<label asp-for="Descripción" class= "control-label"> </label>
				<input asp-for="Descripción" class= "form-control"/> 
				<span asp-validation-for="Descripción" class = "text-danger"> </span>
			</div>
			<div class="form-group">
				<label asp-for="TipoSoftware" class= "control-label"> </label>
				<input asp-for="TipoSoftware" class= "form-control"/> 
				<span asp-validation-for="TipoSoftware" class = "text-danger"> </span>
			</div>
			
			<div class="form-group">
				<label> Fecha de puesta de producción</label>
				<input class="form-control" label asp-for="FechaPuestaProducción"  asp-format="{0:yyyy-MM-ddTHH:mm}" /> 
				<span asp-validation-for="FechaPuestaProducción" class = "text-danger"> </span>
			</div>

			<div class="form-group">
				<label> Fecha expiración de la licencia</label>
				 <input class="form-control" label asp-for="FechaExpiraciónLicencia"  asp-format="{0:yyyy-MM-ddTHH:mm}" /> 
				<span asp-validation-for="FechaPuestaProducción" class = "text-danger"> </span>
			 </div>

			 <div class="form-group">
				 <p>
					 <label></label>
				 </p>			 
			 </div>
			 <div class="form-group">
				<label asp-for="DepartamentoEncargado" class= "control-label"> </label>
				<input asp-for="DepartamentoEncargado" class= "form-control"/> 
				<span asp-validation-for="DepartamentoEncargado" class = "text-danger"> </span>
			</div>

			<div class="form-group">
				 <p>
					 <label></label>
				 </p>			 
			 </div>
			 <div class="form-group">
				<label>Numero de serie del servidor asociado</label>
				<input asp-for="NumeroSerieServidor" class= "form-control"/> 
				<span asp-validation-for="NumeroSerieServidor" class = "text-danger"> </span>
			</div>
			<div class="form-group">
				<label>Rol del servidor para la aplicación</label>
				<input asp-for="Rol" class= "form-control"/> 
				<span asp-validation-for="Rol" class = "text-danger"> </span>
			</div>
			<p>
			</p>
			<div class="form-group" > 
				<input type="submit" value="Crear" class= "btn btn-primary"></input>
			</div>
		</form>
	</div>
</div>

@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}